{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/ntechboard/css/header/unauthorized.css') }}" type="text/css" media="all">
{% endblock %}

<div class="header">
    <div class="left">
        <a href="{{ path('main') }}">nTech board</a>
    </div>

    <div class="center">
        <div class="intro-text">Welcome to messages board</div>
    </div>

    <div class="right">
        <a href="{{ path('login') }}">Login</a> or <a href="{{ path('register') }}">Register</a>
    </div>
</div>